@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouse-inventory-item {
  position: relative;
  display: flex;
  border-bottom: 1px solid $color-borders-diverders;
  padding: 8px 24px 64px;

  @include tablet {
    height: 50px;
    padding: 0 32px 0;
  }

  &__info-column {
    width: 52%;
    margin-right: $margin;
    @include tablet {
      margin: 0;
      display: flex;
      vertical-align: middle;
    }
  }

  &__chevron-icon {
    vertical-align: middle;
  }

  &__heading {
    @include tablet {
      display: none;
    }
  }

  &__data {
    align-self: center;
    &--item {
      @extend .warehouse-inventory-item__data;
      @include tablet {
        width: 22vw;
      }
    }
    &--category {
      @extend .warehouse-inventory-item__data;
      width: 16vw;
    }
    &--status {
      @extend .warehouse-inventory-item__data;
      @include tablet {
        width: 20vw;
      }
      @include desktop {
        width: 17vw;
      }
    }
    &--qty {
      @extend .warehouse-inventory-item__data;
      width: 15vw;
    }
  }

  &__link {
    // display: flex;
    @include text-link;
    text-decoration: none;
  }

  &__status {
    @extend .warehouse-inventory-item__data;

    &--instock {
      @extend .warehouse-inventory-item__status;
      @include tag-instock;
      width: fit-content;
    }
    &--outstock {
      @extend .warehouse-inventory-item__status;
      @include tag-out-of-stock;
      width: fit-content;
    }
  }

  &__delete-icon {
    position: absolute;
    bottom: 27px;
    @include tablet {
      right: 4vw;
      bottom: 16px;
      margin-right: $margin-xl;
    }
  }
  &__edit-icon {
    position: absolute;
    bottom: 27px;
    right: 16px;
    @include tablet {
      right: 1vw;
      bottom: 16px;
      margin-right: $margin;
    }
  }
}
